@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");


:root{
  --mainColor-white: #FEFCFC;
  --mainColor-blue: #162F3A;
  --subColor-blue: #2D5363;
  --subColor-lightBlue: #9BC9DD;
  --mainColor-green: #64C676;
}


img {
  width: 100%;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  line-height: 8rem;
}

.features-container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

section {
  padding: 5rem 0;
}


.section-content {
  display: flex;
}

.section-head-title {
  font-size: 2.2rem;
}

.section-title {
  font-size: 5.6rem;
  margin: 2.5rem 0;
}

.section-desc {
  font-size: 2.4rem;
  font-weight: 400;
}

.bg-white {
  background-color: #ffffff;
}

.pt-15 {
  padding-top: 15rem;
}


/* heroooo */

.sect {
  margin-top: 130px 0;
}

.site{
  text-align: center;
}
.site__title{
    font-size: 30px;
    margin: 0;
    color: #8198ae;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.site__subtitle{
    font-size: 54px;
    color: #162F3A;
    margin: 1rem 0 2rem 0;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
}

.site__img{
  margin-top: 1rem;
  display: inline-block;
  width: 77%;
}



/*End Organizations*/
/*Features*/
.features {
  position: relative;
  padding-bottom: 10rem;
}
/* .features .section-content {
  align-items: center;
} */

.features-text {
  flex-basis: 40%;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
}

.features-text-img {
  position: absolute;
  bottom: -10rem;
  left: 0;
  width: 16rem;
  height: 16rem;
  transform: translate(-30%, -50%);
  z-index: -1;
}

.feature-head-title {
  color: #009B4D;
}

.feature-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  grid-gap: 2.5rem;
}

.feature-item {
  border-bottom: 1px solid #F4F5F7;
  padding-bottom: 2.5rem;
  cursor: pointer;
}
.feature-item.active {
  border-color: var(--mainColor-blue);
  border-width: 3px;
}
.feature-item.active .feature-head h3 {
  color: var(--mainColor-blue);
}
.feature-item.active .feature-body {
  height: initial;
  opacity: 1;
  visibility: visible;
  margin-top: 1.5rem;
}

.feature-head {
  display: flex;
  align-items: center;
}
.feature-head h3 {
  font-size: 2.2rem;
  margin-left: 1rem;
}

.feature-bg-img {
  max-width: 2.4rem;
}

.feature-sm-img {
  display: none;
}

.feature-body {
  font-size: 1.8rem;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, height 0.5s linear, opacity 0.5s linear;
}

.features-img {
  flex-basis: 50%;
  margin-left: 5%;
  border-radius: 50px;
  overflow: hidden;
}


@media screen and (max-width: 750px) {

.features{
  margin-bottom: 3rem;
}
  
  /*Global */
  .section-title {
    font-size: 4rem;
  }

  /*End Organizations*/
  /*Features*/
  .features-text-img, .features-img, .feature-bg-img {
    display: none;
  }

  .features-text {
    padding: 0;
  }

  .feature-sm-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2.5rem;
    margin: 2.5rem auto 0;
  }
  .feature-sm-img img {
    max-width: 25rem;
  }
  .feature-sm-img p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #aaa6ae;
  }

  .features {
    padding: 0;
  }
  .features .section-content {
    flex-direction: column;
  }

  .feature-head h3 {
    margin: 0;
  }

  .feature-item {
    margin-left: -1.5rem;
    width: calc(100% + 3rem);
    padding: 0 1.5rem 2.5rem 1.5rem;
  }
  .feature-item.active {
    border-color: #F4F5F7;
    border-width: 1px;
  }
  .feature-item.active .feature-head h3 {
    margin: 0;
    color: #2B292D;
  }
  .feature-item:last-child {
    border: none;
  }

  .feature-body {
    height: initial;
    opacity: 1;
    visibility: visible;
    margin-top: 1.5rem;
  }
  
}