@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap");


.votePoll {
    position: relative;
    margin-top: 5%;
    width: 60%;
    margin-left: 20%;
    height: 40%;
    background-color:  var(--mainColor-green);
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(35, 30, 128, 0.05);
}

.votePoll .question {
    padding: 20px;
    font-size: 28px;
    border-bottom: 1px solid #4C788C;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
}

/* .votePoll.answers {
    padding: 20px 20px 10px;
    background-color: #4C788C;


} */

.voteAnswer {
    position: relative;
    width: 90%;
    height: 80px;
    padding: 0px 10px;
    line-height: 40px;
    margin-left: 5%;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--mainColor-white);;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
}

.voteAnswer:hover {
    background-color: rgb(230, 230, 230);
}

.voteAnswer:focus {
    color: rgb(100, 100, 100);
    background-color: #B2FFC0;
    border: 2px solid #91FFA5;
}


.voteAnswer.highlight {
    border: 2px solid black;
  }

  .linkToAnswer {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }



  @media only screen and (min-width: 557px) {
    .votePoll {
        width: 40%;
        margin-left: 30%;
        padding: 15px;
        margin-top: 5px;
    }

    .votePoll .question {
        font-size: 28px;
    }

    .voteAnswer {
        font-size: 24px;
        padding: 15px;
        height: 80px;
    }
  }