#EdisonGoLogInContainer :root {
    --mainColor-white: #fefcfc;
    --mainColor-blue: #162f3a;
    --subColor-blue: #2d5363;
    --mainColor-seBlue: #70a0b4;
    --subColor-lightBlue: #9bc9dd;
    --mainColor-greenDark: #50a960;
    --mainColor-green: #64c676;
    --hoverColor-green: #91ffa5;
    --mainColor-lightGreen: #b2ffc0;
    --lightColor-light: #f4fff6;
    --mainColor-gray: #666666;
    --mainColor-black: #000000;
    --fontSize-H1: 50px;
    --fontSize-H2: 38px;
    --fontSize-H3: 28px;
    --fontSize-H4: 21px;
    --fontSize-H5: 18px;
    --fontSize-H6: 16px;
    --fontSize-P: 14px;
    --fontSize-SMALL: 12px;
    --shadow-100: 0px 0px 2px rgba(0 0 0 / 0.1);
    --shadow-200: 0px 4px 8px rgba(0 0 0 / 0.2);
    --shadow-300: 0px 4px 8px rgba(0 0 0 / 0.3);
    --shadow-400: 0px 6px 16px rgba(0 0 0 / 0.3);
    --borderRadius-10: 10px;
    --borderRadius-100: 100%;
  }


#EdisonGoLogInContainer p{
    font-size: 36px;
    font-weight: 500;
}
#EdisonGoLogInContainer label{
    font-size: 20px;
}
#EdisonGoLogInContainer input{
    font-size: 19px;
    
  
}

#EdisonGoLogInContainer input[type=text]{
    font-size: 16px;
    width: 100%;
    
  
}
#EdisonGoLogInContainer #GoLogInSubmitBTN{
    background-color: var(--mainColor-seBlue);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: 500;
}

#EdisonGoLogInContainer #GoLogInRegisterBTN{
    background-color: var(--mainColor-greenDark);
    color: var(--lightColor-light);
    border-radius: 10px;
    font-weight: 500;
    outline: 2px black;
}


   
#EdisonGoLogInContainer .forgotPassWrodDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}


#modalForForgetTopic{
    font-weight: 450;
    font-size: 22px;
    text-align: center;
    color: #162f3a;
}

.getpasswordBTN{
    background-color: var(--mainColor-seBlue);
    color: #f4fff6;
    font-weight: 300;
}
.getpasswordBTN:hover{
    background-color: var(--subColor-blue);
    color: #f4fff6;
    font-weight: 400;
}
#EdisonGoLogInContainer #edisonWrongPairOflog{
    color: rgb(198, 25, 25);
    font-size: 18px;
    
}

#EdisonGoLogInContainer~.modal{
    --bs-modal-border-color:rgba(136, 129, 129, 0.73);
    --bs-modal-width:400px;
    --bs-modal-bg:rgb(236, 229, 229);
    --bs-modal-border-width:2px;
    --bs-modal-border-radius:20px;
}
#thisIsForForgetPassword input{
    font-size: 18px;
}