@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");



img {
  width: 100%;
  max-width: 100%;
}

.organizations img {
  width: 5rem;
}

.sevenlogo img {
  width: 4rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--mainColor-white);
}

h1 {
  line-height: 8rem;
}

.communicate-container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}

section {
  padding: 5rem 0;
}


.btn:hover {
  -webkit-box-shadow: 1px 1px 8px 0px #2b292d;
  -moz-box-shadow: 1px 1px 8px 0px #2b292d;
  box-shadow: 1px 1px 8px 0px #2b292d;
}

.flex-column {
  flex-direction: column;
}

.section-content {
  display: flex;
}

.section-head-title {
  font-size: 1.8rem;
  margin: 2.5rem 0;
}

.section-title {
  font-size: 4rem;
  margin: 2.5rem 0;
  text-align-last: left;
}

.section-desc {
  font-size: 2.4rem;
  font-weight: 500;
  text-align-last: left;
}

.section-detail{
  font-size: 1.8rem;
  font-weight: 400;
  text-align-last: left;
}

.bg-white {
  background-color: #ffffff;
}

.pt-15 {
  padding-top: 15rem;
}


.btn-learn-more {
  background-color: #ffffff;
  color: var(--mainColor-green);
}

/*End What About */
/*Organizations*/
.organizations .section-content {
  align-items: center;
  justify-content: space-around;
}

/*End Team Inbox*/
/*Communicate*/
.communicate-body {
  display: flex;
  align-items: center;
  align-content: center;
}

.communicate-head-title {
  color: #0185D0;
}

.communicate-body-item {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  position: relative;
}
.communicate-body-item:first-child {
  padding-bottom: 10rem;
}
.communicate-body-item:first-child:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 15rem;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
.communicate-body-item > * {
  max-width: 40rem;
}

.communicate-body-item img{
  max-width: 50rem;
  margin: 0 auto;
}


.communicate-body-item .btn-get-started {
  max-width: 16rem;
  margin-top: 2.5rem;
}

.communicate-img p {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.communicate-footer {
  display: flex;
  grid-gap: 5rem 2.5rem;
  margin-top: 5rem;
}

.communicate-footer-item {
  flex-basis: 33.3%;
  margin-right: 5rem;

}
.communicate-footer-item p {
  font-size: 1.8rem;
}
.communicate-footer-item p span {
  font-weight: bold;
}
.communicate-footer-item a {
  display: block;
  margin-top: 1rem;
  color: var(--mainColor-green);
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.8rem;
}


/*End Footer*/
/*END HOME PAGE*/
@media screen and (max-width: 900px) {
  /*Home */
  .nav-logo-text span {
    display: none;
  }

  /*End Home Page*/
}
@media screen and (max-width: 750px) {

  /*Communicate*/

.communicate-footer-item{
  display: none;
}

  .communicate-body {
    flex-direction: column;
  }

  .communicate-body-item > * {
    max-width: initial;
  }

  .communicate-body-item:first-child:after {
    display: none;
  }
  .communicate-body-item:last-child {
    padding-bottom: 5rem;
  }
  .communicate-body-item:last-child:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 15rem;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .communicate-img {
    width: 100%;
  }
  .communicate-img img {
    max-width: 40rem;
    margin: 0 auto;
  }

  .communicate-footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) and (max-width: 450px) {
  /*Home Page*/
  /*End Organizations*/
  /*Visitors*/
  .visitors-btn {
    flex-direction: column;
  }

  /*End Visitors*/
  /*Hire*/
  .btn-hire {
    display: block;
  }

  .communicate-img img {
    margin: 0;
  }
  /*End Hire*/
  /*End Home Page*/
}

.rwd_linkBtn{
  background: var(--mainColor-white);
}