@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --mainColor-white: #FEFCFC;
--mainColor-blue: #162F3A;
--subColor-blue: #2D5363;
--subColor-lightBlue: #9BC9DD;
--mainColor-green: #64C676;
}


body {
    margin:  0;
    padding: 0;
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    color: var(--mainColor-blue);
  }


  
.tab{
  /* border: 1px solid var(--mainColor-blue); */
  background-color: var(--mainColor-white);
  margin-top: 3rem 0 3rem 0;
}

.tab ul{
  list-style-type: none;
}

.tab ul li{
  display: inline;
  color: var(--mainColor-blue);
  text-align: center;
  background-color: var(--mainColor-white);
}

.tab ul li:hover{
  color: white;
  cursor: pointer;
  background-color: var(--mainColor-green);
}

.content{
  display: none;

}

.show-content{
  display: block;
}