h1{
    font-size: 48px;
    color: var(--mainColor-blue);
}
.blog-wrap{
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 10rem;
}

.blog-goBack{
    text-decoration: none;
    font-size: 2rem;
    color: var(--mainColor-green);
    font-weight: 500;
    margin-top: 1rem;
    display: block;
    padding:0 0 0 20px;
}

.blog-goBack span{
    color: #64C676;
}

.blog-wrap header{
    margin: 20px 0 ;
}

.blog-date{
    font-size: .8rem;
    color: #a9a9a9;
    font-weight: 500;
}

.blog-wrap img{
    width: 100%;
    border-radius: 0 5rem 0 5rem;
}

.blog-subCategory{
    display: flex;
    margin: 10px 0;
    /* justify-content: center; */
}

.blog-subCategory > div{
    margin: .2rem;
}

.blog-desc{
    padding: 1rem;
    margin: 1rem 0 0 0;
    line-height: 2rem;
}

.blog-subtitle{
    color: var(--mainColor-green);
    padding: 1rem;
}

.blog-cc{
    color: #999;
    margin-bottom: 8px;
}

.contentCover{
    display: flex;
    align-items: center;
    align-content: center;
}

.detail{
    padding: 1rem;
    margin: 3rem 0 0 0;
}

.connection {
    color: #64C676;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px){
    .blog-goBack{
        padding:0 0 0 20px;
    }
}


.btn {
    border-radius: 0.5rem;
    padding: 1.2rem;
    cursor: pointer;
    width: 150px;
    border-radius: 20px;
    color: #999;
  }
  
  
.btn__farm--invest {
    border: 1px solid #66BB6A;
    color: #ffffff;
    display: inline-block;
    min-width: 25rem;
    margin-top: 4rem;
    -webkit-box-shadow: 1px 10px 30px -10px #66bb6a;
    -moz-box-shadow: 1px 10px 30px -10px #66bb6a;
    box-shadow: 1px 10px 30px -10px #66bb6a;
    /*
    Button hover effect resource
    https://codepen.io/alticreation/pen/zBZwOP
    */
    display: inline-block;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .btn__farm--invest:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #66BB6A;
    z-index: -2;
  }
  .btn__farm--invest:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #ffffff;
    transition: all 0.5s;
    z-index: -1;
  }
  .btn__farm--invest:hover {
    color: #66BB6A;
  }
  .btn__farm--invest:hover:before {
    width: 100%;
  }