.emptyList-wrap{
    display: flex;
    justify-content: center;
    padding-bottom: 200px;;
}

.img-box{
    position: relative;
}

.emptyList-wrap img{
    max-width: 350px;
    width: 100%;
    
}

.words{
    position: absolute;
    margin-top: 300px;
}

.emptyList-wrap h2{
    text-align: center;
    font-size: 3rem;
    color: #64c676;
}

.emptyList-wrap p{
    font-size: 1rem;
    font-weight: 600;
    color: #64c676;
    text-align: center;
}